<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Manager</title>
</head>
<body>
    <h1>This is my Task Manager app for the FMCP Class</h1>
    <h3>I hope it's good enough:))</h3>
    {% if 'user_id' in session %}
        <p>You are logged in.</p>
        <nav>
            <ul>
                <li><a href="{{ url_for('view_tasks') }}">View Tasks</a></li>
                <li><a href="{{ url_for('add_task') }}">Add New Task</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    {% else %}
        <p>You are not logged in.</p>
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
    {% endif %}
</body>
</html>